@(message: String)

@main("Play framework について") {
    
    <h1>Play framework について</h1>
    
    <table>
      <tr>
        <td>公式サイト (英語)</td>
        <td><a href="https://www.playframework.com/">https://www.playframework.com/</a></td>
      </tr>
      <tr>
        <td>リリース情報 (英語)</td>
        <td><a href="https://www.playframework.com/download">https://www.playframework.com/download</a></td>
      </tr>
      <tr>
        <td>日本語ドキュメント</td>
        <td>
          <a href="https://www.playframework.com/documentation/ja">https://www.playframework.com/documentation/ja</a><br>
          ※公式ドキュメントが充実しているため、ここから始めよう！<br>
          (『はじめに』の『サンプルアプリケーション』でフレームワークの概要を把握)
        </td>
      </tr>
      <tr>
        <td>***</td>
        <td>***</td>
      </tr>
    </table>
    <br>
    <a href="/heroku">Heroku について</a>

}
